body {
  font-family: Arial;
  text-align: center;
}

.palette {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.color {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: 2px solid black;
}
