body {
  background: #df8383;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: rgb(238, 236, 236);
  padding: 25px;
  border-radius: 10px;
}
