body {
  font-family: Arial;
  padding: 20px;
  background-color:blanchedalmond;
}

.products {
  display: flex;
  gap: 15px;
}

.card {
  border: 1px solid #fca0a0;
  padding: 15px;
  width: 150px;
  border-radius: 8px;
  text-align: center;
  background-color: rgb(208, 238, 177);
}

button {
  margin-top: 10px;
  padding: 6px 10px;
}
